**/node_modules
**/venv
**/.venv
**/__pycache__
**/.pytest_cache
**/*.pyc
**/.git
**/.gitignore
**/.env
**/.env.*
!**/.env*.example
**/*.tar.gz
**/*.tar
**/*.sql
**/dist
**/logs
**/*.db
**/*.sqlite3
**/test.db
.DS_Store
